build
dist
nbproject
test
testdata
CLANS.odt
CLANS_tutorial.odt
CLANS_tutorial.pdf
build-before-profiler.xml
build.xml
.settings

# === Eclipse files and folders ===
# default binary directory
bin
# project files
.classpath
.project

# Emacs backup files
*~

/tmp0.outfile
/tmpblasthsp.txt
